[submodule "vim/vim/bundle/fugitive"]
	path = vim/vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/surround"]
	path = vim/vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/solarized"]
	path = vim/vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim/bundle/racket"]
	path = vim/vim/bundle/racket
	url = git://github.com/wlangstroth/vim-racket.git
[submodule "vim/vim/bundle/ultisnips2"]
	path = vim/vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "vim/vim/bundle/salt"]
	path = vim/vim/bundle/salt
	url = git://github.com/saltstack/salt-vim.git
[submodule "vim/vim/bundle/gundo"]
	path = vim/vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "vim/vim/bundle/git"]
	path = vim/vim/bundle/git
	url = git://github.com/tpope/vim-git.git
[submodule "vim/vim/bundle/bufexplorer-official"]
	path = vim/vim/bundle/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "vim/vim/bundle/supertab"]
	path = vim/vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
