vim/vim/undodir
vim/vim/backup
vim/vim/view
vim/vim/plugged
vim/vim/autoload
vim/vim/.netrwhist
weechat/weechat/logs
weechat/weechat/*.log
misc/config/keybase
misc/config/autostart
iterm2/iterm2/it2*
iterm2/iterm2/imgcat
iterm2/iterm2/imgls
