# Universal stuff
# Ignore everything by default
*

# Repo-related
!.gitignore
!README.md
!install.py

# Vim
!vim/
!vim/vimrc
!vim/vim/
!vim/vim/autoload/
!vim/vim/autoload/*
!vim/vim/bundle/
!vim/vim/bundle/*
!vim/vim/UltiSnips/
!vim/vim/UltiSnips/*
!vim/vim/backup/
!vim/vim/backup/README
!vim/vim/spell/
!vim/vim/spell/*
!vim/vim/undodir/
!vim/vim/undodir/README

# Git
!git/
!git/*

# Mercurial (hg)
!hg/
!hg/*

# Tmux
!tmux/
!tmux/*

# Zsh
!zsh/
!zsh/zshrc
!zsh/zsh/
!zsh/zsh/includes/
!zsh/zsh/includes/*
!zsh/zsh/other/
!zsh/zsh/other/*
