[submodule "vim/vim/bundle/fugitive"]
	path = vim/vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/bufexplorer"]
	path = vim/vim/bundle/bufexplorer
	url = git://github.com/basepi/vim-bufexplorer.git
[submodule "vim/vim/bundle/surround"]
	path = vim/vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/solarized"]
	path = vim/vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
