# Universal stuff
# Ignore everything by default
*

# Repo-related
!.gitignore
!README.md
!install.py

# Vim
!vim/
!vim/vimrc
!vim/vim/
!vim/vim/*
!vim/vim/plugin/
!vim/vim/plugin/*
!vim/vim/ftplugin/
!vim/vim/ftplugin/*
!vim/vim/ftplugin/latex-suite/
!vim/vim/ftplugin/latex-suite/*
!vim/vim/indent/
!vim/vim/indent/*
!vim/vim/compiler/
!vim/vim/compiler/*
!vim/vim/backup/
!vim/vim/backup/README
!vim/vim/colors/
!vim/vim/colors/*
!vim/vim/doc/
!vim/vim/doc/*
!vim/vim/misc/
!vim/vim/misc/README
!vim/vim/plugin/
!vim/vim/plugin/*
!vim/vim/spell/
!vim/vim/spell/*
!vim/vim/undodir/
!vim/vim/undodir/README

# Git
!git/
!git/*

# Mercurial (hg)
!hg/
!hg/*

# Screen
!screen/
!screen/*

# Zsh
!zsh/
!zsh/zshrc
!zsh/zsh/
!zsh/zsh/includes/
!zsh/zsh/includes/*
!zsh/zsh/other/
!zsh/zsh/other/*
